* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color:#272727 ;
    color: #14A76C;
}
.title{
    text-align: center;
}

.about-me{
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
}

.social-links{
    
}

